<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/productLayout}">

<body>
    <div id="wrapper">

        <main id="product">            

            <!-- 장바구니 페이지 시작 -->
            <section class="cart" layout:fragment="content">
              <script>

                document.addEventListener('DOMContentLoaded', function() {
                  // 모든 아코디언 버튼 요소 가져오기
                  var accordionButtons = document.querySelectorAll('.accordion-button');

                  // 각 아코디언 버튼에 대해 이벤트 리스너 추가
                  accordionButtons.forEach(function(button) {
                    button.addEventListener('click', function() {
                      // 해당 버튼의 data-bs-target 값을 사용하여 아코디언 컨텐츠 요소 가져오기
                      var targetId = button.getAttribute('data-bs-target');
                      var targetContent = document.getElementById(targetId);

                      // 현재 아코디언 상태 확인
                      var isExpanded = button.getAttribute('aria-expanded') === 'true';

                      // 아코디언 상태 변경
                      if (isExpanded) {
                        // 아코디언 닫기
                        button.setAttribute('aria-expanded', 'false');
                        targetContent.classList.remove('show');
                      } else {
                        // 아코디언 열기
                        button.setAttribute('aria-expanded', 'true');
                        targetContent.classList.add('show');
                      }
                    });
                  });
                });

                window.onload = function (){

                  // 수량 감소 부분
                  document.querySelectorAll('.decrease').forEach(button => {
                    button.addEventListener('click', function (e){
                      e.preventDefault();
                      const input = button.closest('.count').querySelector('.number');
                      // 현재 값
                      let value = parseInt(input.value);
                      value = Math.max(1, value -1);
                      input.value = value;
                    });
                  });

                  // 수량 증가
                  document.querySelectorAll('.increase').forEach(button =>{
                    button.addEventListener('click', function (e){
                      e.preventDefault();
                      const input = button.closest('.count').querySelector('.number');
                      // 현재 값
                      let value = parseInt(input.value);
                      console.log(value);
                      input.value = value+1;
                    });
                  });

                  document.querySelectorAll('.currentPrice strong').forEach(currentPrice =>{
                    let priceValue = parseInt(currentPrice.innerText);
                    const input = currentPrice.closest('.count').querySelector('.number');
                    let count = parseInt(input.value);
                    console.log(count);

                  });

                }
              </script>
              <!-- 제목, 페이지 네비게이션 -->
              <nav>
                <h1>장바구니</h1>
                <p>
                  HOME > <strong>장바구니</strong>
                </p>
              </nav>
                            
              <form action="#">
                <div class="itemController">
                  <div class="checkboxController">
                    <input id="checkboxController" type="checkbox" class="cur_hand">
                    <label for="checkboxController" class="cur_hand">전체선택</label>
                  </div>
                  <div class="deleteBtnGroup">
                    <button type="button" class="deleteCartItems">
                      <span>선택삭제</span>
                    </button>
                  </div>
                </div>
                <div th:each="company, iterStat : ${companies}" class="accordion" id="accordionPanelsStayOpenExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button th:id="'accordionButton'+${iterStat.index}" class="accordion-button" type="button" data-bs-toggle="collapse" th:data-bs-target="'panelsStayOpen-collapse'+${iterStat.index}" aria-expanded="true" th:aria-controls="'panelsStayOpen-collapse'+${iterStat.index}">
                        <input type="checkbox" class="checkbox" value="0">
                        [[${company}]]
                      </button>
                    </h2>
                    <!-- 내용 -->
                    <div th:id="'panelsStayOpen-collapse'+${iterStat.index}" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      <th:block th:each="cartProduct:${cartProducts}" >
                      <div  th:if="${company == cartProduct.company}" class="accordion-body">
                        <div>
                          <label>
                            <input type="checkbox" class="checkbox" value="0">
                          </label>
                          <a th:href="@{#}">
                            <img th:src="@{|/prodImg/${cartProduct.thumb3}|}" style="width: 80px; height: auto;" alt="상품이미지">
                          </a>

                          <div class="details">
                            <a th:href="@{#}">
                              <p class="productDetail">[[${cartProduct.prodName}]]</p>
                            </a>
                            <div class="optionDiv">옵션 밸류</div>
                            <p class="productDeliveryInfo"> 4/30(화) 이내 도착 </p>
                          </div>

                          <div class="count">
                            <button th:class="'decrease'">-</button>
                            <input type="text" class="number" name="num" th:value="${cartProduct.count}"/>
                            <button class="increase">+</button>
                          </div>

                          <div class="cartPrice order-3">
                            <p class="originalPrice"><span data-v-15ea7d62="">[[${cartProduct.price}]]원</span></p>
                            <p class="currentPrice" style="">
                              <strong>[[${((100-cartProduct.discount)/100.0)*cartProduct.price}]]</strong><span>원</span>
                            </p>
                          </div>
                        </div>
                      </div>
                      </th:block>
                    </div>
                  </div>
                </div>


                <!-- 장바구니 전체합계 -->
                <div class="total">
                  <h2>전체합계</h2>
                  <table border="0">
                    <tr>
                      <td>상품수</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>상품금액</td>
                      <td>27,000</td>
                    </tr>
                    <tr>
                      <td>할인금액</td>
                      <td>-1,000</td>
                    </tr>
                    <tr>
                      <td>배송비</td>
                      <td>0</td>
                    </tr>              
                    <tr>
                      <td>포인트</td>
                      <td>260</td>
                    </tr>
                    <tr>
                      <td>전체주문금액</td>
                      <td>26,000</td>
                    </tr>
                  </table>
                  <input type="submit" name="" value="주문하기">    
                </div>

              </form>

            </section>
            <!-- 장바구니 페이지 끝 -->
        </main>
