<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/productLayout}">

<body>
    <div id="wrapper">

        <main id="product">            

            <!-- 장바구니 페이지 시작 -->
            <section class="cart" layout:fragment="content">
              <script>

                document.addEventListener('DOMContentLoaded', function() {
                  // 모든 아코디언 버튼 요소 가져오기
                  var accordionButtons = document.querySelectorAll('.accordion-button');

                  document.querySelectorAll('.number')
                  // 각 아코디언 버튼에 대해 이벤트 리스너 추가
                  accordionButtons.forEach(function(button) {
                    button.addEventListener('click', function() {
                      // 해당 버튼의 data-bs-target 값을 사용하여 아코디언 컨텐츠 요소 가져오기
                      var targetId = button.getAttribute('data-bs-target');
                      var targetContent = document.getElementById(targetId);

                      // 현재 아코디언 상태 확인
                      var isExpanded = button.getAttribute('aria-expanded') === 'true';

                      // 아코디언 상태 변경
                      if (isExpanded) {
                        // 아코디언 닫기
                        button.setAttribute('aria-expanded', 'false');
                        targetContent.classList.remove('show');
                      } else {
                        // 아코디언 열기
                        button.setAttribute('aria-expanded', 'true');
                        targetContent.classList.add('show');
                      }
                    });
                  });
                });

                window.onload = function (){

                  // 숫자를 3자리마다 콤마를 추가하여 문자열로 반환하는 함수
                  function numberWithCommas(x) {
                    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                  }

                  // 가격 업데이트
                  document.querySelectorAll('.cartProduct').forEach(input =>{

                    const product = input.closest('.cartProduct');
                    const inputs = product.querySelector('.count .number' );
                    const increase = product.querySelector('.count .increase');
                    const decrease = product.querySelector('.count .decrease');

                    let value = inputs.value;

                    const priceElement = product.querySelector('.currentPrice strong');

                    const orgPriceElement = product.querySelector('.originalPrice span').innerText;
                    const orgPriceElementWithoutwon = orgPriceElement.split('원')[0];
                    // 가격을 숫자로 파싱
                    const price = parseFloat(priceElement.innerText.replace('원', '').replace(',', ''));
                    const orgPrice = parseInt(orgPriceElement);

                    console.log(orgPrice);
                    // 수량을 숫자로 파싱
                    let intValue = parseInt(value);

                    // 수량 증가 버튼
                    increase.addEventListener('click', function(increase){
                      increase.preventDefault();
                      const checkboxes = document.querySelectorAll('.checkbox');

                      intValue += 1
                      inputs.value = intValue;
                      // 총 가격 계산
                      const totalPrice = price * intValue;
                      // 총 가격을 화면에 업데이트
                      priceElement.innerText = numberWithCommas(totalPrice);

                      // 토탈 메뉴
                      checkboxes.forEach(checked=>{
                        if(checked.checked){

                          const cartTotal = document.getElementById('prodTotalPrice');
                          let cartTotalValue = 0;

                          document.querySelectorAll('.currentPrice strong').forEach(price => {
                            // 해당 요소의 체크박스가 선택되었는지 확인
                            if (price.closest('.cartProduct').querySelector('.checkbox').checked) {
                              let noComma = price.innerText.replace(/,/g, '');
                              let int = parseInt(noComma);
                              cartTotalValue += int;
                            }
                          });
                          cartTotal.innerHTML = "";
                          cartTotal.textContent +=numberWithCommas(cartTotalValue)+'원';
                        }
                      });

                    });
                    // 수량 감소 버튼
                    decrease.addEventListener('click', function(decrease){
                      decrease.preventDefault();
                      intValue -= 1

                      if(intValue <1){
                        alert('최소1개까지 구매 가능한 상품입니다.');
                        intValue=1;
                      }

                      inputs.value = intValue;
                      // 총 가격 계산
                      const totalPrice = price * intValue;

                      console.log('감소버튼'+price);
                      // 총 가격을 화면에 업데이트
                      priceElement.innerText = numberWithCommas(totalPrice);

                      // 토탈 메뉴
                      checkboxes.forEach(checked=>{
                        if(checked.checked){

                          const cartTotal = document.getElementById('prodTotalPrice');
                          let cartTotalValue = 0;

                          document.querySelectorAll('.currentPrice strong').forEach(price => {
                            // 해당 요소의 체크박스가 선택되었는지 확인
                            if (price.closest('.cartProduct').querySelector('.checkbox').checked) {
                              let noComma = price.innerText.replace(/,/g, '');
                              let int = parseInt(noComma);
                              cartTotalValue += int;
                            }
                          });
                          cartTotal.innerHTML = "";
                          cartTotal.textContent +=numberWithCommas(cartTotalValue)+'원';

                          const cartOrg = document.getElementById('prodOrgPrice');
                          let orgTotal = 0;
                          let calc;

                          // 선택된 상품 중 수량 감소 버튼을 누른 상품의 원 가격을 찾아서 빼기
                          document.querySelectorAll('.originalPrice span').forEach(price => {

                            if (price.closest('.cartProduct').querySelector('.checkbox').checked) {
                              // 현재 버튼과 일치하는 상품의 원 가격만 빼기
                              if (price.closest('.cartProduct').querySelector('.decrease') === decrease.target) {
                                let checkedOrgTotal = parseInt(cartOrg.innerText.replace(/,/g, ''));
                                console.log('수량감소 체크된 총 원가격' + checkedOrgTotal);
                                let checkedOrgProdPrice = parseInt(price.innerText);
                                calc = parseInt(checkedOrgTotal - checkedOrgProdPrice);
                                console.log('수량감소 체크된 상품 원가격 : ' + checkedOrgProdPrice);
                                console.log('수량감소 체크된 상품 계산된 가격 : ' + calc);
                              }
                            }
                          });

                          cartOrg.innerHTML = "";
                          cartOrg.textContent += numberWithCommas(calc);
                        }
                      });

                    });

                    // 총 가격 계산
                    const totalPrice = price * intValue;
                    // 총 가격을 화면에 업데이트
                    priceElement.innerText = numberWithCommas(totalPrice);

                  });

                  // 전체 선택
                  const selectAll = document.getElementsByClassName('selectAll')[0];
                  const checkboxes = document.querySelectorAll('.checkbox');
                  const checkCom = document.querySelectorAll('.checkCom');

                  selectAll.addEventListener('click', function () {
                      for(let i = 0; i<checkboxes.length; i++) {
                        checkboxes[i].checked = selectAll.checked;
                      }
                      for(let j = 0; j<checkCom.length; j++){
                        checkCom[j].checked = selectAll.checked;
                      }
                      updateTotal();
                      updateCount();
                      updateOrgPrice();
                  });

                  // 회사별로 전체 선택
                  checkCom.forEach(function (e) {
                    e.addEventListener('click', function (check) {
                      check.stopPropagation();
                      const company = e.getAttribute('data-company');
                      console.log(company)

                      const checkbox = document.querySelectorAll(`.checkbox[data-company="${company}"]`);
                      checkbox.forEach(checkbox =>{
                        checkbox.checked = e.checked;
                      });
                      updateTotal();
                      updateCount();
                      updateOrgPrice();
                    });
                  });

                  // 선택삭제
                  const deleteCartItems = document.getElementsByClassName('deleteCartItems')[0];
                  var cartNumbers = [];
                  deleteCartItems.addEventListener('click', function(e){

                    const checkbox = document.querySelectorAll('.checkbox:checked');
                    checkbox.forEach(e => {
                      cartNumbers.push(e.value);
                    });
                    e.preventDefault();

                    console.log(cartNumbers);

                    if (confirm('장바구니에서 삭제하시겠습니까?')){
                       const jsonData = {
                         cartNo : cartNumbers
                       };

                      fetch('/lotteon/cart/delete', {
                        method:'POST',
                        headers:{"Content-type":"application/json"},
                        body: JSON.stringify(jsonData)
                      })
                              .then(response=> response.json())
                              .then(data =>{
                                console.log(data);
                                if (data!=null){
                                  location.reload();
                                }
                              })
                              .catch((err)=>{
                                console.log(err)}
                              );
                    }

                  });

                  const total = document.getElementsByClassName('total')[0];

                  // 스크롤시 total 폼 따라오기
                  document.addEventListener('scroll', function(event) {
                    let scrollY = window.scrollY;

                    total.style.top = scrollY + 'px';
                  });

                  // 원가격
                  const cartOrg = document.getElementById('prodOrgPrice');
                  // 수량
                  const cartCount = document.getElementById('prodCount');

                  const cartDis = document.getElementById('prodDisPrice');
                  const cartDel = document.getElementById('prodDelivery');
                  const cartPoi = document.getElementById('prodPoint');
                  const cartTotal = document.getElementById('prodTotalPrice');

                  var totalPrice = 0;

                  // 전체 가격 함수
                 function updateTotal(){
                   totalPrice = 0;

                   // 체크된 상품의 총 가격 합산
                   var checkedBoxes = document.querySelectorAll('.checkbox:checked');

                   checkedBoxes.forEach(function (checkbox){

                     let productPrice = checkbox.closest('.cartProduct').querySelector('.currentPrice strong').textContent;
                     let noComma = parseInt(productPrice.replace(/,/g, ''));
                     totalPrice += noComma

                     cartTotal.innerHTML = "";
                     cartTotal.textContent +=numberWithCommas(totalPrice)+'원';

                   })
                   if (checkedBoxes.length === 0){

                     cartTotal.innerHTML = "";
                     cartTotal.textContent += 0+'원';
                   }
                 }

                 // 전체 수량 가져오기
                 function updateCount(){
                   var checkedBoxes = document.querySelectorAll('.checkbox:checked');

                   checkedBoxes.forEach(function (checkbox){
                     let count = checkedBoxes.length;
                     let int = parseInt(count);
                     cartCount.innerHTML = "";
                     cartCount.innerText = int;
                   })
                   if (checkedBoxes.length === 0){

                     cartCount.innerHTML = "";
                     cartCount.innerText = 0;
                   }
                 }

                 // 전체 상품 원래금액 가져오기
                  function updateOrgPrice() {
                   totalPrice = 0;
                    var checkedBoxes = document.querySelectorAll('.checkbox:checked');

                    checkedBoxes.forEach(function (checkbox) {
                      let orgPrice = checkbox.closest('.cartProduct').querySelector('.originalPrice').innerText;
                      let count = parseInt(checkbox.closest('.cartProduct').querySelector('.number').value);
                      let int = parseInt(orgPrice.split('원')[0]);
                      let calc = (int*count);
                      totalPrice += calc;

                      cartOrg.innerHTML = "";
                      cartOrg.innerHTML += numberWithCommas(totalPrice);
                    })
                    if (checkedBoxes.length === 0) {

                      cartOrg.innerHTML = "";
                      cartOrg.innerText = 0;

                    }
                  }


                 // 체크박스 개별 선택시 가격 변경
                  checkboxes.forEach(function(checkbox) {
                    checkbox.addEventListener('change', function (){
                      updateCount();
                      updateTotal();
                      updateOrgPrice();
                    });
                  });


                }
              </script>
              <!-- 제목, 페이지 네비게이션 -->
              <nav>
                <h1>장바구니</h1>
                <p>
                  HOME > <strong>장바구니</strong>
                </p>
              </nav>
                            
              <form class="cartForm" action="#">
                <div class="itemController">
                  <div class="checkboxController">
                    <input id="checkboxController" type="checkbox" class="selectAll">
                    <label for="checkboxController" class="cur_hand">전체선택</label>
                  </div>
                  <div class="deleteBtnGroup">
                    <button type="button" class="deleteCartItems">
                      <span>선택삭제</span>
                    </button>
                  </div>
                </div>

                <div th:each="company, iterStat : ${companies}" class="accordion" id="accordionPanelsStayOpenExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button th:id="'accordionButton'+${iterStat.index}" class="accordion-button" type="button" data-bs-toggle="collapse" th:data-bs-target="'panelsStayOpen-collapse'+${iterStat.index}" aria-expanded="true" th:aria-controls="'panelsStayOpen-collapse'+${iterStat.index}">
                        <input type="checkbox" class="checkCom" th:data-company="${company}" value="0">
                        [[${company}]]
                      </button>
                    </h2>
                    <!-- 내용 -->
                    <div th:id="'panelsStayOpen-collapse'+${iterStat.index}" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                      <th:block th:each="cartProduct:${cartProducts}" >
                      <div th:if="${company == cartProduct.company}" class="accordion-body">
                        <div class="cartProduct">
                          <label>
                            <input type="checkbox" class="checkbox" th:data-company="${company}" data-status="0" th:value="${cartProduct.cartNo}">
                          </label>
                          <a th:href="@{#}">
                            <img th:src="@{|/prodImg/${cartProduct.thumb3}|}" style="width: 80px; height: auto;" alt="상품이미지">
                          </a>

                          <div class="details">
                            <a th:href="@{#}">
                              <p class="productDetail">[[${cartProduct.prodName}]]</p>
                            </a>
                            <div class="optionDiv">옵션 밸류</div>
                            <p class="productDeliveryInfo"> 4/30(화) 이내 도착 </p>
                          </div>

                          <p>
                            <span class="delivery"> </span>
                            <span class="deliveryFree"> </span>

                          </p>

                          <div class="count">
                            <button th:class="'decrease'">-</button>
                            <input type="text" class="number" name="num" th:value="${cartProduct.count}"/>
                            <button class="increase">+</button>
                          </div>

                          <div class="cartPrice order-3">
                            <p class="originalPrice"><span data-v-15ea7d62="">[[${cartProduct.price}]]원</span></p>
                            <span class="discount">[[${cartProduct.discount}]]%</span>
                            <p class="currentPrice" style="">
                              <strong>[[${((100-cartProduct.discount)/100.0)*cartProduct.price}]]</strong><span>원</span>
                            </p>
                          </div>
                        </div>
                      </div>
                      </th:block>
                    </div>
                    <div class="cartFooter">
                      <p>
                      <span class="point">431,000원</span>
                        <span class="deliverySpan">+ 배송비 0원<span> - <span class="discountSpan">할인 86,330원</span>
                      <span > = </span>
                      <span> <strong class="totalPriceSpan">344,670원 </strong> </span>
                      </span>
                    </div>
                  </div>
                </div>

                <!-- 장바구니 전체합계 -->
                <div class="total">
                  <h2>전체합계</h2>
                  <table border="0">
                    <tr>
                      <td>상품수</td>
                      <td id="prodCount">0</td>
                    </tr>
                    <tr>
                      <td>상품금액</td>
                      <td id="prodOrgPrice">0</td>
                    </tr>
                    <tr>
                      <td>할인금액</td>
                      <td id="prodDisPrice">-</td>
                    </tr>
                    <tr>
                      <td>배송비</td>
                      <td id="prodDelivery">0</td>
                    </tr>              
                    <tr>
                      <td id="prodPoint">포인트</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>전체주문금액</td>
                      <td id="prodTotalPrice">0원</td>
                    </tr>
                  </table>
                  <input type="submit" name="" value="주문하기">    
                </div>

              </form>

            </section>
            <!-- 장바구니 페이지 끝 -->
        </main>
