<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/companyLayout}">
    <main id="recuit" layout:fragment="content">
        <div class="cover">
            <div>
                <h1>쇼핑을 새롭게, 세상을 이롭게 이끌 <br>
                    쇼핑 좀 해 본 인재를 모십니다!</h1>

                <p>
                    롯데ON은 안정성 있고 혁신성 있게 우리의 문화를 만들어가고 있어요. <br>
                    구성원들은 수평적이고 자율적인 문화 속에서 개선을 넘어서 혁신적인 롯데ON만의 서비스를 만들어요.<br>
                    롯데ON과 함께 굵은 점을 찍어가며 성장하실 분들을 기다립니다.<br>
                </p>
            </div>
        </div>
        <section class="content">
            <!-- 채용정보 리스트 출력 -->
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    <th scope="col">Handle</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">2</th>
                    <td>광고사업</td>
                    <td>경력 4 ~ 15년</td>
                    <td>정규직</td>
                    <td>광고 플랫폼 기획</td>
                    <td>모집 중</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>광고사업</td>
                    <td>경력 4 ~ 15년</td>
                    <td>정규직</td>
                    <td>광고 플랫폼 기획</td>
                    <td>모집 중</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>광고사업</td>
                    <td>경력 4 ~ 15년</td>
                    <td>정규직</td>
                    <td>광고 플랫폼 기획</td>
                    <td>모집 중</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>광고사업</td>
                    <td>경력 4 ~ 15년</td>
                    <td>정규직</td>
                    <td>광고 플랫폼 기획</td>
                    <td>모집 중</td>
                </tr>
                </tbody>
            </table>
        </section>
    </main>
