<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/adminLayout}">
<section id="cs" layout:fragment="content">
    <script>
        function confirmDelete() {
            return confirm("게시글을 삭제하시겠습니까?");
        }
    </script>
    <div class="articleBox" id="community_view">
        <form class="articleForm" id="communityForm" th:action="@{/admin/cs/modify}" method="post">
            <!--hidden-->
            <input type="hidden" name="cate" id="cate"/>
            <div class="titleBox">
                <p>[[${board.title}]]</p>
            </div>

            <div class="infoBox">
                <p>작성자 : <span>[[${board.uid}]]</span></p>
                <p>조회수 : <span>[[${board.hit}]]</span>&nbsp;&nbsp;<span
                        th:text="${#temporals.format(board.rdate,'yyyy-MM-dd')}"></span></p>
            </div>

            <div class="contentsBox">
                <textarea id="contentTextarea" readonly>[[${board.content}]]</textarea>

            </div>
            <!-- 수정 / 삭제 / 목록 버튼 -->
            <div class="articleBtnBox">
                <!-- 수정 버튼 -->
                <a th:if="${adminBoardPageResponseDTO.keyword == null}"
                   th:href="@{/admin/cs/modify(group=${adminBoardPageResponseDTO.group}, bno=${board.bno}, pg=${adminBoardPageResponseDTO.pg})}"
                   class="btn btn-secondary btn-sm" data-art="artModify">수정</a>
                <a th:if="${adminBoardPageResponseDTO.keyword != null}"
                   th:href="@{/admin/cs/modify(group=${adminBoardPageResponseDTO.group}, bno=${board.bno}, type=${adminBoardPageResponseDTO.type},keyword=${adminBoardPageResponseDTO.keyword}, pg=${adminBoardPageResponseDTO.pg})}"
                   class="btn btn-secondary btn-sm" data-art="artModify">수정</a>
                <!-- 삭제 버튼 -->
                <a th:if="${adminBoardPageResponseDTO.keyword == null}"
                   th:href="@{/admin/cs/delete(group=${adminBoardPageResponseDTO.group}, bno=${board.bno}, pg=${adminBoardPageResponseDTO.pg})}"
                   class="btn btn-secondary btn-sm btnDelete " data-art="artRemove"
                   onclick="return confirmDelete()">삭제</a>
                <a th:if="${adminBoardPageResponseDTO.keyword != null}"
                   th:href="@{/admin/cs/delete(group=${adminBoardPageResponseDTO.group}, bno=${board.bno}, type=${adminBoardPageResponseDTO.type},keyword=${adminBoardPageResponseDTO.keyword}, pg=${adminBoardPageResponseDTO.pg})}"
                   class="btn btn-secondary btn-sm btnDelete" data-art="artRemove"
                   onclick="return confirmDelete()">삭제</a>
                <!-- 목록 버튼 -->
                <a th:if="${adminBoardPageResponseDTO.keyword == null}"
                   th:href="@{/admin/cs/list(group=${adminBoardPageResponseDTO.group}, pg=${adminBoardPageResponseDTO.pg})}"
                   class="btn btnList">목록</a>
                <a th:if="${adminBoardPageResponseDTO.keyword != null}"
                   th:href="@{/admin/cs/list(group=${adminBoardPageResponseDTO.group}, pg=${adminBoardPageResponseDTO.pg}, type=${adminBoardPageResponseDTO.type}, keyword=${adminBoardPageResponseDTO.keyword})}"
                   class="btn btnList">목록</a>
            </div>
        </form>
    </div>
</section>
