<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.thymeleaf.org/" layout:decorate="/cs/layout.html">

<section id="cs" layout:fragment = "content">
  <div class="notice">
          <nav>
            <div>
              <p>홈<span>></span>공지사항</p>
            </div>
          </nav>
          <section class="list">
            <aside>
              <h2>공지사항</h2>
              <ul>
                <li th:class="${(cate eq 'null') ? 'on' : ''}"><a th:href="@{/cs/notice/list(group='notice', cate='null')}">전체</a></li>
                <li th:class="${(cate=='cs') ? 'on' : ''}"><a th:href="@{/cs/notice/list(group='notice',cate='cs')}">고객서비스</a></li>
                <li th:class="${(cate=='safe') ? 'on' : ''}"><a th:href="@{/cs/notice/list(group='notice',cate='safe')}">안전거래</a></li>
                <li th:class="${(cate=='dangerProd') ? 'on' : ''}"><a th:href="@{/cs/notice/list(group='notice',cate='dangerProd')}">위해상품</a></li>
                <li th:class="${(cate=='event') ? 'on' : ''}"><a th:href="@{/cs/notice/list(group='notice',cate='event')}">이벤트당첨</a></li>
              </ul>
            </aside>
            <article>
                <nav>
                    <span th:switch="${cate}">
                        <span th:case="'null'" style="font-size: 26px; font-weight: bold;" >전체</span>
                        <span th:case="cs" style="font-size: 26px; font-weight: bold;">고객서비스</span>
                        <span th:case="safe" style="font-size: 26px; font-weight: bold;">안전거래</span>
                        <span th:case="dangerProd" style="font-size: 26px; font-weight: bold;">위해상품</span>
                        <span th:case="event" style="font-size: 26px; font-weight: bold;">이벤트당첨</span>
                    </span>
                    <h2>공지사항 <span th:utext="${(cate eq 'null') ? '전체' : (cate eq 'cs') ? '고객서비스' : (cate eq 'safe') ? '안전거래' : (cate eq 'dangerProd') ? '위해상품' : '이벤트당첨'}" style="font-size: 20px;"></span> 내용입니다.</h2>
                </nav>

                <table>
                    <tr>
                        <td><a href="./view.html">[안내] 해외결제 사칭 문자 주의</a></td>
                        <td>2022.11.21</td>
                    </tr>
                    <tr>
                        <td><a href="./view.html">[발표]『G.Live X SK스토아(하남쭈꾸미)』 이벤트 당첨자</a></td>
                        <td>2022.11.21</td>
                    </tr>
                    <tr>
                        <td><a href="#">[안내] 로젠택배 반품/교환 수거지시 지연 안내</a></td>
                        <td>2022.11.21</td>
                    </tr>
                    <tr>
                        <td><a href="#">[안내] 해외직구셀러 특별약관 개정</a></td>
                        <td>2022.11.21</td>
                    </tr>
                    <tr>
                        <td><a href="#">[안내] 위치정보이용 약관 개정 공지</a></td>
                        <td>2022.11.21</td>
                    </tr>
                    <tr>
                        <td><a href="#">[발표]『써모스 상품 구매』 이벤트 당첨자</a></td>
                        <td>2022.11.21</td>
                    </tr>
                    <tr>
                        <td><a href="#">한국소비자원, '22년 OECD 글로벌 제품안전 캠페인</a></td>
                        <td>2022.11.21</td>
                    </tr>
                    <tr>
                        <td><a href="#">[점검] G마켓 사이트 이용 일시 중단</a></td>
                        <td>2022.11.21</td>
                    </tr>
                    <tr>
                        <td><a href="#">[안내] 구매회원 이용약관 개정</a></td>
                        <td>2022.11.21</td>
                    </tr>
                    <tr>
                        <td><a href="#">[안내] 씨티은행 시스템 점검에 따른 계좌, 체크카드결제 서비스 일시 중단</a></td>
                        <td>2022.11.21</td>
                    </tr>
                </table>

                <div class="page">
                    <a href="#" class="prev">이전</a>
                    <a href="#" class="num on">1</a>
                    <a href="#" class="num">2</a>
                    <a href="#" class="num">3</a>
                    <a href="#" class="next">다음</a>
                </div>
            </article>
          </section>
        </div>
      </section>
</html>
