<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/csLayout}">

<section id="cs" layout:fragment = "content">
        <div class="notice">
          <nav>
            <div>
              <p>홈
                <span>></span>
                <span th:switch="${group}">
                      <span th:case="notice" style="font-size: 16px; color: black;">공지사항</span>
                      <span th:case="qna" style="font-size: 16px; color: black;">고객문의</span>
                      <span th:case="faq" style="font-size: 16px; color: black;">자주묻는질문</span>
                      </span>
              </p>
            </div>
          </nav>
          <section class="view">
            <aside>
              <h2>공지사항</h2>
              <ul>
                <li th:class="${(cate eq 'null') ? 'on' : ''}"><a th:href="@{/cs/notice/list(group='notice', cate='null')}">전체</a></li>
                <li th:class="${(cate=='cs') ? 'on' : ''}"><a th:href="@{/cs/notice/list(group='notice',cate='cs')}">고객서비스</a></li>
                <li th:class="${(cate=='safe') ? 'on' : ''}"><a th:href="@{/cs/notice/list(group='notice',cate='safe')}">안전거래</a></li>
                <li th:class="${(cate=='dangerProd') ? 'on' : ''}"><a th:href="@{/cs/notice/list(group='notice',cate='dangerProd')}">위해상품</a></li>
                <li th:class="${(cate=='event') ? 'on' : ''}"><a th:href="@{/cs/notice/list(group='notice',cate='event')}">이벤트당첨</a></li>
              </ul>
            </aside>
            <article>
              <nav>
                <h2 class="title">
                  [<span style="font-size: 32px; font-weight: bold" th:text="${boardDTO.typeName}"></span>]
                  [[${boardDTO.title}]]
                </h2>
                <span style="font: normal 14px 'Noto Sans CJK KR'; color: #777;" th:text="${#temporals.format(boardDTO.rdate, 'yyyy.MM.dd')}"></span>

              </nav>

              <div class="content">
                <p>
                  [[${boardDTO.content}]]
                </p><br><br>

              </div>
              <a th:href="@{/cs/notice/list(group='notice', cate=${cate})}" class="btnList">목록보기</a>
            </article>
          </section>
        </div>
</section>
</html>
