<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/myLayout}">
<main id="myLayout" layout:fragment="content">
    <script th:src="@{/js/myInfo.js}"></script>
    <script>
        window.onload = function () {

            // 주문번호 생성 주문일자+주문번호
            document.querySelectorAll('#order').forEach(function (order) {
                console.log(order);
                const date=order.querySelector("#ordDate").innerText; // 주문일자
                const no=order.querySelector(".ordNo").innerText; // 주문번호
                const paddedOrdNo = ('000' + no).slice(-4); // 주문번호 4자리로 만들기
                console.log(paddedOrdNo);

                const ordDate=date.replace(/-/g, '').substring(2); // 주문일자 -없애고 년단위 앞 두지리 없애기
                console.log(ordDate);

                const finalOrdNo=ordDate+paddedOrdNo; // 최종 주문번호
                console.log(finalOrdNo);

                order.querySelector(".ordNo").innerHTML = "";
                order.querySelector(".ordNo").textContent = finalOrdNo;

            })

            var strDateP;
            var dateP;
            const currentDate = new Date();

            //포인트 적립 및 소멸 구분
            document.querySelectorAll('#point').forEach(function (point){

                point.querySelectorAll('#pointDate').forEach(function (date){
                    strDateP=date.innerText;
                    dateP=new Date(strDateP);

                })
                console.log("계산전 만료 날짜"+dateP)
                console.log("현재날짜"+currentDate);

                const timeDiff = currentDate.getTime() - dateP.getTime();
                const diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));


                console.log('현재날짜와 소멸날짜의 차이:', diffDays);

                point.querySelectorAll('#state').forEach(function (pointState){

                    if(diffDays>1){
                        pointState.innerHTML='';
                        pointState.innerText='소멸';
                        pointState.style.color = '#999'

                    }else if(diffDays<0){
                        pointState.innerHTML='';
                        pointState.innerText='적립';
                    }else if(diffDays===1||diffDays===0){
                        pointState.innerHTML='';
                        pointState.innerText='소멸예정';
                        pointState.style.color = '#ef2a23'
                    }
                })
            })




        }

    </script>
        <div id="my">
            <div class="home">
				<ul>
                    <span class="menu_else"></span>
                    <li><a th:href="@{/my/order(uid=${#authentication.principal.member.uid})}">전체주문내역</a></li>
                    <!--<li><a href="./favorite.html">관심상품</a></li>-->
                    <li><a th:href="@{/my/point(uid=${#authentication.principal.member.uid})}">포인트내역</a></li>
                    <li><a th:href="@{/my/coupon(uid=${#authentication.principal.member.uid})}">쿠폰</a></li>
                    <li><a th:href="@{/my/review(uid=${#authentication.principal.member.uid})}">나의리뷰</a></li>
                    <li><a th:href="@{/my/qna(uid=${#authentication.principal.member.uid})}">문의하기</a></li>
                    <li><a th:href="@{/my/infoAccessCheck(uid=${#authentication.principal.member.uid})}">나의설정</a></li>
                    <li><a th:href="@{/my/wish}">나의찜</a></li>
                </ul>

                <section>
                    <div id="bannerTop" class="on" th:style="${banners.size() > 0 ? 'background: ' + banners[0].backcolor + ';' : ''}">
                    <!-- 배너 영역 -->
                    <th:block th:each="banner : ${banners}">
                        <a th:href="@{${banner.link}}">
                            <img th:src="@{'/prodImg/'+ ${banner.thumb}}" alt="t1" />
                        </a>
                    </th:block>
                    </div>
                    <article class="latest">
                        <h3>최근주문내역</h3>
                        <a th:href="@{/my/order(uid=${#authentication.principal.member.uid})}" class="more">더보기</a>
                        <table border="0">
                            <tr>
                                <th>날짜</th>
                                <th>상품정보</th>
                                <th>상태</th>
                                <th>확인/신청</th>
                            </tr>
                            <tr id="order" th:each="order : ${orderItemDTOS}">
                                <td class="date" id="ordDate">[[${#temporals.format(order.ordDate, 'yyyy-MM-dd')}]]</td>
                                <td class="info">
                                    <a th:href="@{#}" class="thumb"><img th:src="@{'/prodImg/'+${order.thumb3}}" alt="" style="width: 80px; height: 80px;"></a>
                                    <ul>
                                        <li class="company"><a th:href="@{#}">[[${order.company}]]</a></li>
                                        <li class="prodName"><a th:href="@{#}">[[${order.prodName}]]</a></li>
                                        <li class="orderNo">수량 : <span class="prodCount">[[${order.count}]]</span>개 / <span >주문번호 : <a th:href="@{#}" class="ordNo">[[${order.ordNo}]]</a></span></li>
                                        <li class="prodPrice" th:text="${#numbers.formatInteger(order.totalPricePerProduct, 3, 'COMMA')}"></li>
                                    </ul>
                                </td>
                                <td class="status">[[${order.ordStatus}]]</td>
                                <td class="confirm">
                                    <a th:href="@{#}" class="receive">수취확인</a>
                                    <a th:href="@{#}" class="review">상품평</a>
                                    <a th:href="@{#}" class="refund">반품신청</a>
                                    <a th:href="@{#}" class="exchange">교환신청</a>
                                </td>
                            </tr>
                        </table>
                    </article>

                    <article class="point">
                        <h3>포인트적립내역</h3>
                        <a th:href="@{/my/point(uid=${#authentication.principal.member.uid})}" class="more">더보기</a>
                        <table border="0">
                            <tr>
                                <th>적립날짜</th>
                                <th>구분</th>
                                <th>주문번호</th>
                                <th>적립금액</th>                                
                                <th>비고</th>
                                <th>유효기간</th>
                            </tr>
                            <tr id="point" th:each="point:${pointDTOS}">
                                <td id="currentDate">[[${#temporals.format(point.currentDate, 'yyyy-MM-dd')}]]</td>
                                <td id="state"></td>
                                <td class="ordNo">[[${point.ordNo}]]</td>
                                <td>[[${point.point}]]</td>
                                <td>[[${point.usecase}]]</td>
                                <td id="pointDate">[[${#temporals.format(point.pointDate, 'yyyy-MM-dd')}]]</td>
                            </tr>
                        </table>
                    </article>
                    <article class="review">
                        <h3>상품평</h3>
                        <a th:href="@{/my/review(uid=${#authentication.principal.member.uid})}" class="more">더보기</a>
                        <table border="0">
                            <tr>
                                <th>번호</th>
                                <th>상품명</th>
                                <th>내용</th>
                                <th>평점</th>
                                <th>작성일</th>
                            </tr>
                            <tr th:each="review,index :${reviewDTOS}">
                                <td>[[${index.index + 1}]]</td>
                                <td>[[${review.prodName}]]</td>
                                <td>[[${review.content}]]</td>
                                <td><span th:class="'rating star' + ${review.rating}"></span></td>
                                <td>[[${#temporals.format(review.rdate, 'yyyy-MM-dd')}]]</td>
                            </tr>
                        </table>
                    </article>

                    <article class="qna">
                        <h3>문의내역</h3>
                        <a th:href="@{/my/qna(uid=${#authentication.principal.member.uid})}" class="more">더보기</a>
                        <table border="0">
                            <tr>
                                <th>번호</th>
                                <th>문의유형</th>
                                <th>제목</th>
                                <th>작성일</th>
                                <th>상태</th>
                            </tr>
                            <tr th:each="board,index : ${boardDTOS}">
                                <td>[[${index.index + 1}]]</td>
                                <td>[[${board.cateName}]]</td>
                                <td>[[${board.title}]]</td>
                                <td>[[${#temporals.format(board.rdate, 'yyyy-MM-dd')}]]</td>
                                <td><span class="notAnswerYet" th:style="${board.status == '답변완료'} ? 'font-weight: bold;color:black;' : 'color: #999'">[[${board.status}]]</span></td>
                            </tr>
                        </table>
                    </article>

                    <article class="myinfo">
                        <h3>확인해주세요!</h3>

                        <div>
                            <div class="address">
                                <span>기본 배송지설정</span>
                                <a th:href="@{/my/infoAccessCheck(uid=${#authentication.principal.member.uid})}" class="setting">변경</a>
                                <p>
                                    <span th:if="${memberDTO.addr1 == null && memberDTO.addr2 == null}">기본배송지가 없습니다.</span>
                                    <span th:text="${memberDTO.addr1}"></span><br>
                                    <span th:text="${memberDTO.addr2}"></span>
                                </p>
                            </div>
                            <div class="email">
                                <span>email 설정</span>
                                <a th:href="@{/my/infoAccessCheck(uid=${#authentication.principal.member.uid})}" class="setting">변경</a>
                                <p>
                                    <span th:text="${memberDTO.email}"></span><br/>
                                </p>
                            </div>
                            <div class="hp">
                                <span>휴대폰 설정</span>
                                <a th:href="@{/my/infoAccessCheck(uid=${#authentication.principal.member.uid})}" class="setting">변경</a>
                                <p>
                                    <span th:text="${memberDTO.hp}"></span><br/>
                                </p>
                            </div>
                        </div>


                    </article>

                </section>

            </div>
        </div>
</main>