<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/myLayout}">
<main id="myLayout" layout:fragment="content">
    <script th:src="@{/js/myInfo.js}"></script>
    <script>
        window.onload = function (){
            // JavaScript를 사용하여 현재 날짜를 가져옴
            const currentDate = new Date();
            // 년도, 월, 일을 가져와서 문자열로 만듦
            const year = currentDate.getFullYear().toString().slice(-2);
            const month = ('0' + (currentDate.getMonth() + 1)).slice(-2); // 두 자리수로 만들고 0 삽입
            const day = ('0' + currentDate.getDate()).slice(-2); // 두 자리수로 만들고 0 삽입 '-' + currentDate.getDate();

            const formattedDate = year + month + day;
            console.log(formattedDate)

            document.querySelectorAll('#ordNo').forEach(function (order){

                const ordNo = order.innerText;

                // 주문 번호를 최대 4자리의 숫자로 만듦
                const paddedOrdNo = ('000' + ordNo).slice(-4);

                const finalOrdNo = formattedDate + paddedOrdNo;

                order.innerHTML=""; // html 요소 비우기
                order.textContent=finalOrdNo; //채우기
            });

            var strDateC;
            var strpDateP;
            var dateC;
            var dateP;


            document.querySelectorAll('#point').forEach(function (point){

                point.querySelectorAll('#currentDate').forEach(function (date){
                    strDateC=date.innerText
                    dateC=new Date(strDateC);
                })
                console.log("계산전 적립 날짜"+dateC)

               point.querySelectorAll('#pointDate').forEach(function (date){
                   strpDateP=date.innerText;
                   dateP=new Date(strpDateP);

               })
                console.log("계산전 만료 날짜"+dateP)

                const timeDiff = dateC.getTime() - dateP.getTime();
                const diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));

                console.log('두 날짜 사이의 차이(일):', diffDays);

                point.querySelectorAll('#state').forEach(function (pointState){

                    if(diffDays<0){
                        pointState.innerHTML='';
                        pointState.innerText='소멸';
                    }else if(diffDays>=0){
                        pointState.innerHTML='';
                        pointState.innerText='적립';
                    }
                })
                console.log('상태'+state);
            })






        }
    </script>
        <div id="my">
            <div class="home">
				<ul>
                    <span class="menu_else"></span>
                    <li><a th:href="@{/my/order(uid=${#authentication.principal.member.uid})}">전체주문내역</a></li>
                    <!--<li><a href="./favorite.html">관심상품</a></li>-->
                    <li><a th:href="@{/my/point(uid=${#authentication.principal.member.uid})}">포인트내역</a></li>
                    <li><a th:href="@{/my/coupon(uid=${#authentication.principal.member.uid})}">쿠폰</a></li>
                    <li><a th:href="@{/my/review(uid=${#authentication.principal.member.uid})}">나의리뷰</a></li>
                    <li><a th:href="@{/my/qna(uid=${#authentication.principal.member.uid})}">문의하기</a></li>
                    <li><a th:href="@{/my/infoAccessCheck(uid=${#authentication.principal.member.uid})}">나의설정</a></li>
                </ul>

                <section>
                    <div id="bannerTop" class="on" th:style="${myPageBanners.size() > 0 ? 'background: ' + myPageBanners[0].backcolor + ';' : ''}">
                    <!-- 배너 영역 -->
                    <th:block th:each="banner : ${myPageBanners}">
                        <a th:href="@{${banner.link}}">
                            <img th:src="@{'/prodImg/'+ ${banner.thumb}}" alt="t1" />
                        </a>
                    </th:block>
                    </div>
                    <article class="latest">
                        <h3>최근주문내역</h3>
                        <a th:href="@{#}" class="more">더보기</a>
                        <table border="0">
                            <tr>
                                <th>날짜</th>
                                <th>상품정보</th>
                                <th>상태</th>
                                <th>확인/신청</th>
                            </tr>
                            <tr>
                                <td class="date">2022-12-13</td>
                                <td class="info">
                                    <a th:href="@{#}" class="thumb"><img src="https://via.placeholder.com/80x80" alt=""></a>
                                    <ul>
                                        <li class="company"><a th:href="@{#}">상호명</a></li>
                                        <li class="prodName"><a th:href="@{#}">상품명</a></li>
                                        <li class="orderNo">수량 : <span class="prodCount">1</span>개 / 주문번호 : <a th:href="@{#}">1012211341</a></li>
                                        <li class="prodPrice">34,000</li>
                                    </ul>
                                </td>
                                <td class="status">배송완료</td>
                                <td class="confirm">
                                    <a th:href="@{#}" class="receive">수취확인</a>
                                    <a th:href="@{#}" class="review">상품평</a>
                                    <a th:href="@{#}" class="refund">반품신청</a>
                                    <a th:href="@{#}" class="exchange">교환신청</a>
                                </td>
                            </tr>
                        </table>
                    </article>

                    <article class="point">
                        <h3>포인트적립내역</h3>
                        <a th:href="@{#}" class="more">더보기</a>
                        <table border="0">
                            <tr>
                                <th>날짜</th>
                                <th>구분</th>
                                <th>주문번호</th>
                                <th>적립금액</th>                                
                                <th>비고</th>
                                <th>유효기간</th>
                            </tr>
                            <tr id="point" th:each="point:${pointDTOS}">
                                <td id="currentDate">[[${#temporals.format(point.currentDate, 'yyyy-MM-dd')}]]</td>
                                <td id="state"></td>
                                <td id="ordNo">[[${point.ordNo}]]</td>
                                <td>[[${point.point}]]</td>
                                <td>[[${point.usecase}]]</td>
                                <td id="pointDate">[[${#temporals.format(point.pointDate, 'yyyy-MM-dd')}]]</td>
                            </tr>
                        </table>
                    </article>
                    <article class="review">
                        <h3>상품평</h3>
                        <a th:href="@{#}" class="more">더보기</a>
                        <table border="0">
                            <tr>
                                <th>번호</th>
                                <th>상품명</th>
                                <th>내용</th>
                                <th>평점</th>
                                <th>작성일</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>상품명</td>
                                <td>배송이 빠릅니다. 잘 사용하겠습니다.</td>
                                <td><span class="rating star1">상품평</span></td>
                                <td>2022-12-10</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>상품명</td>
                                <td>배송이 빠릅니다. 잘 사용하겠습니다.</td>
                                <td><span class="rating star2">상품평</span></td>
                                <td>2022-12-10</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>상품명</td>
                                <td>배송이 빠릅니다. 잘 사용하겠습니다.</td>
                                <td><span class="rating star3">상품평</span></td>
                                <td>2022-12-10</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>상품명</td>
                                <td>배송이 빠릅니다. 잘 사용하겠습니다.</td>
                                <td><span class="rating star4">상품평</span></td>
                                <td>2022-12-10</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>상품명</td>
                                <td>배송이 빠릅니다. 잘 사용하겠습니다.</td>
                                <td><span class="rating star5">상품평</span></td>
                                <td>2022-12-10</td>
                            </tr>
                        </table>
                    </article>

                    <article class="qna">
                        <h3>문의내역</h3>
                        <a th:href="@{#}" class="more">더보기</a>
                        <table border="0">
                            <tr>
                                <th>번호</th>
                                <th>문의채널</th>
                                <th>문의유형</th>                                
                                <th>제목</th>
                                <th>작성일</th>
                                <th>상태</th>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>고객센터</td>
                                <td>주문/결제</td>                                
                                <td>신용카드 결제 중 오류가 난 경우 어떻게 하나요?</td>
                                <td>2024-12-12</td>
                                <td><span class="notAnswerYet">검토중</span></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>고객센터</td>
                                <td>주문/결제</td>                                
                                <td>신용카드 결제 중 오류가 난 경우 어떻게 하나요?</td>
                                <td>2024-12-12</td>
                                <td><span class="answered">답변완료</span></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>판매자게시판</td>
                                <td>배송</td>                                
                                <td>배송기간이 보통 얼마나 걸리나요?</td>
                                <td>2024-12-12</td>
                                <td><span class="answered">답변완료</span></td>
                            </tr>
                        </table>
                    </article>

                    <article class="myinfo">
                        <h3>확인해주세요!</h3>

                        <div>
                            <div class="address">
                                <span>기본 배송지설정</span>
                                <a th:href="@{/my/infoAccessCheck(uid=${#authentication.principal.member.uid})}" class="setting">변경</a>
                                <p>
                                    <span th:if="${memberDTO.addr1 == null && memberDTO.addr2 == null}">기본배송지가 없습니다.</span>
                                    <span th:text="${memberDTO.addr1}"></span><br>
                                    <span th:text="${memberDTO.addr2}"></span>
                                </p>
                            </div>
                            <div class="email">
                                <span>email 설정</span>
                                <a th:href="@{/my/infoAccessCheck(uid=${#authentication.principal.member.uid})}" class="setting">변경</a>
                                <p>
                                    <span th:text="${memberDTO.email}"></span><br/>
                                </p>
                            </div>
                            <div class="hp">
                                <span>휴대폰 설정</span>
                                <a th:href="@{/my/infoAccessCheck(uid=${#authentication.principal.member.uid})}" class="setting">변경</a>
                                <p>
                                    <span th:text="${memberDTO.hp}"></span><br/>
                                </p>
                            </div>
                        </div>


                    </article>

                </section>

            </div>
        </div>
</main>