<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/myLayout}">
<main id="myLayout" layout:fragment="content">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/changeInfo.js}"></script>
        <div id="my">
            <nav>
                <div>
                    <a th:href="@{/my/home}"><img th:src="@{/my/images/my_logo.jpg}" alt="나의쇼핑정보"></a>
                    <ol>
                        <li><a th:href="@{/my/order(uid=${#authentication.principal.member.uid})}">주문·배송<span class="delivery">1</span></a></li>
                        <li><a th:href="@{/my/coupon(uid=${#authentication.principal.member.uid})}">할인쿠폰<span class="coupon">1</span></a></li>
                        <li><a th:href="@{/my/point(uid=${#authentication.principal.member.uid})}">포인트<span class="point">1,000</span></a></li>
                        <li><a th:href="@{/my/qna(uid=${#authentication.principal.member.uid})}">문의내역<span class="qna">1</span></a></li>
                    </ol>

                </div>
            </nav>

            <div class="info">
                <ul>
                    <span class="menu_else"></span>
                    <li><a th:href="@{/my/order(uid=${#authentication.principal.member.uid})}">전체주문내역</a></li>
                    <!--<li><a href="./favorite.html">관심상품</a></li>-->
                    <li><a th:href="@{/my/point(uid=${#authentication.principal.member.uid})}">포인트내역</a></li>
                    <li><a th:href="@{/my/coupon(uid=${#authentication.principal.member.uid})}">쿠폰</a></li>
                    <li><a th:href="@{/my/review(uid=${#authentication.principal.member.uid})}">나의리뷰</a></li>
                    <li><a th:href="@{/my/qna(uid=${#authentication.principal.member.uid})}">문의하기</a></li>
                    <li class="on"><a th:href="@{/my/info(uid=${#authentication.principal.member.uid})}">나의설정</a></li>
                </ul>

                <section>
                    <a th:href="@{#}"><img th:src="@{/my/images/my_banner1.jpg}" alt="패션, 타운 하나로 끝" class="banner"></a>

                    <article>
                        <h3>회원정보 설정</h3>
                        <form method="POST" name="changeForm" class="changeForm">
                        <table border="0">
                            <tr>
                                <td>사용자 ID</td>
                                <!-- 아이디 뒤 네자리 마스킹 처리 -->
                                <td th:text="${memberDTO.uid}"></td>
                            </tr>
                            <tr>
                                <td>새로운 비밀번호</td>
                                <td>
                                    <input type="password" name="pass"/>
                                    <span class="msgPass">영문, 숫자, 특수문자를 조합하여 8~12자까지 설정해 주세요.</span>
                                </td>
                            </tr>
                            <tr>
                                <td>비밀번호 확인</td>
                                <td>
                                    <input type="password" name="pass2"/>
                                    <span class="msgPass">비밀번호 재입력</span>
                                    <div id="result_pass"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>이름</td>
                                <td th:text="${memberDTO.name}"></td>

                            </tr>
                            <!-- 추가 -->
                            <tr>
                                <td>닉네임</td>
                                <td id="newNick">
                                    <input type="text" name="nick" id="nick" data-type="nick" th:value="${memberDTO.nick}">
                                    <span id="result_nick"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>가입날짜</td>
                                <td th:text="${#temporals.format(memberDTO.rdate, 'yyyy-MM-dd')}"></td>
                            </tr>
                            <tr>
                                <td>E-mail</td>
                                <td id="newEmail">
                                    <input id="inputEmail" type="email" name="email" th:value="${memberDTO.email}"/>
                                    <button class="btnSubmit" type="button" id="btn_email" data-type="email">이메일 인증</button>
                                    <span id="result_email"></span>

                                    <div id="divEmailCode">
                                        <input class="form-control" id="inputEmailCode" name="code" type="text"
                                               placeholder="이메일 인증코드 입력" disabled/>

                                        <button type="button" class="btnSubmit" id="btnCheckEmailCode"
                                                data-type="email">
                                            <span class="" role="status">인증코드 확인</span>
                                        </button>
                                        <div id="resultEmailCode" class="d-block"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>휴대폰</td>
                                <td>
                                    <p class="hp">
                                        <input type="text" name="hp" maxlength="13" minlength="13" data-type="hp" th:value="${memberDTO.hp}"/>
                                        <span class="msgHp"> - 포함 13자리를 입력하세요.</span>
                                    <div id="result_hp"></div>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>주소</td>
                                <td>
                                    <input type="text" name="zip" id="inputZip" th:value="${memberDTO.zip}"/>
                                    <button type="button" id="findZip">주소검색</button>
                                    <p class="address">
                                        <input type="text" name="addr1" id="inputAddr1" size="50" th:value="${memberDTO.addr1}"/>
                                        <input type="text" name="addr2" id="inputAddr2" size="50" th:value="${memberDTO.addr2}"/>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>회원탈퇴</td>
                                <td>
                                    <button id="btnWithdraw">탈퇴하기</button>
                                </td>
                            </tr>
                        </table>
                            <input type="submit" class="btnInfoChange" value="수정하기"/>
                        </form>
                    </article>
                </section>
            </div>
        </div>
</main>