<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/myLayout}">
<main id="myLayout" layout:fragment="content">
    <script th:src="@{/js/myInfo.js}"></script>
    <script type="text/javascript">
        function changePeriod(days) {
            // 현재 날짜를 기준으로 선택된 기간의 시작일과 종료일 계산
            var endDate = new Date();
            var startDate = new Date();
            startDate.setDate(endDate.getDate() - days);

            // 선택된 기간을 서버로 전달
            window.location.href = '/lotteon/my/point?uid=' + [[${#authentication.principal.member.uid}]] + '&begin=' + formatDate(startDate) + '&end=' + formatDate(endDate);
        }

        // 날짜를 "YYYY-MM-DD" 형식의 문자열로 변환하는 함수
        function formatDate(date) {
            var year = date.getFullYear();
            var month = (date.getMonth() + 1).toString().padStart(2, '0');
            var day = date.getDate().toString().padStart(2, '0');
            return year + '-' + month + '-' + day;
        }
    </script>
    <div id="my">
        <div class="point">
            <ul>
                <span class="menu_else"></span>
                <li><a th:href="@{/my/order(uid=${#authentication.principal.member.uid})}">전체주문내역</a></li>
                <li><a th:href="@{/my/point(uid=${#authentication.principal.member.uid})}" class="on">포인트내역</a></li>
                <li><a th:href="@{/my/coupon(uid=${#authentication.principal.member.uid})}">쿠폰</a></li>
                <li><a th:href="@{/my/review(uid=${#authentication.principal.member.uid})}">나의리뷰</a></li>
                <li><a th:href="@{/my/qna(uid=${#authentication.principal.member.uid})}">문의하기</a></li>
                <li><a th:href="@{/my/info(uid=${#authentication.principal.member.uid})}">나의설정</a></li>
            </ul>
            <section>
                <a th:href="@{#}"><img th:src="@{/my/images/my_banner1.jpg}" alt="패션, 타운 하나로 끝" class="banner"></a>
                <article>
                    <h3>포인트내역</h3>
                    <div class="byDate">
                        <span class="tit">기간별조회</span>
                        <ul class="date_3ea">
                            <li><a href="#" th:onclick="'javascript:changePeriod(7)'"><em>1</em>주일</a></li>
                            <li><a href="#" th:onclick="'javascript:changePeriod(15)'"><em>15</em>일</a></li>
                            <li><a href="#" class="on" th:onclick="'javascript:changePeriod(30)'"><em>1</em>개월</a></li>
                        </ul>
                        <ul class="date_5ea">
                            <li><a href="#"><em>11</em>월</a></li>
                            <li><a href="#"><em>10</em>월</a></li>
                            <li><a href="#"><em>9</em>월</a></li>
                            <li><a href="#"><em>8</em>월</a></li>
                            <li><a href="#"><em>7</em>월</a></li>
                        </ul>
                        <p>
                            <input type="date" name="begin"><span>~</span><input type="date" name="end">
                        </p>
                        <button class="btnConfirm" onclick="changeCustomPeriod()">조회하기</button>
                    </div>
                    <table border="0">
                        <thead>
                        <tr>
                            <th>날짜</th>
                            <th>구분</th>
                            <th>주문번호</th>
                            <th>적립금액</th>
                            <th>비고</th>
                            <th>유효기간</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="point : ${pointPageResponseDTO.dtoList}">
                            <td th:text="${point.currentDate.toString().substring(0, 10)}"></td>
                            <td th:text="${point.usecase}"></td>
                            <td th:text="${point.ordNo}"></td>
                            <td th:text="${point.point}"></td>
                            <td th:text="${point.descript}"></td>
                            <td th:text="${point.pointDate.toString().substring(0, 10)}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="page">
                        <span th:if="${pointPageResponseDTO.prev}" class="prev">
                            <a th:href="@{/my/point(uid=${#authentication.principal.member.uid}, pg=${pointPageResponseDTO.start - 1})}">이전</a>
                        </span>
                        <span th:each="num: ${#numbers.sequence(pointPageResponseDTO.start, pointPageResponseDTO.end)}">
                            <a th:href="@{/my/point(uid=${#authentication.principal.member.uid}, pg=${num})}" th:class="${pointPageResponseDTO.pg eq num ? 'num on' : 'num'}" th:text="${num}"></a>
                        </span>
                        <span th:if="${pointPageResponseDTO.next}" class="next">
                            <a th:href="@{/my/point(uid=${#authentication.principal.member.uid}, pg=${pointPageResponseDTO.end + 1})}">다음</a>
                        </span>
                    </div>
                </article>
            </section>
        </div>
    </div>
</main>
