<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/myLayout}">
<main id="myLayout" layout:fragment="content">
    <script th:src="@{/js/myInfo.js}"></script>
    <script th:src="@{/js/point.js}" th:inline="javascript"></script>

    <div id="my">
        <div class="point">
            <ul>
                <span class="menu_else"></span>
                <li><a th:href="@{/my/order(uid=${#authentication.principal.member.uid})}">전체주문내역</a></li>
                <li><a th:href="@{/my/point(uid=${#authentication.principal.member.uid})}" class="on">포인트내역</a></li>
                <li><a th:href="@{/my/coupon(uid=${#authentication.principal.member.uid})}">쿠폰</a></li>
                <li><a th:href="@{/my/review(uid=${#authentication.principal.member.uid})}">나의리뷰</a></li>
                <li><a th:href="@{/my/qna(uid=${#authentication.principal.member.uid})}">문의하기</a></li>
                <li><a th:href="@{/my/infoAccessCheck(uid=${#authentication.principal.member.uid})}">나의설정</a></li>            </ul>
            <section>
                <a th:href="@{#}"><img th:src="@{/my/images/my_banner1.jpg}" alt="패션, 타운 하나로 끝" class="banner"></a>
                <article>
                    <h3>포인트내역</h3>
                    <div class="byDate">
                        <span class="tit">기간별조회</span>
                        <ul class="date_3ea">
                            <li><a href="#" class="datePick" onclick="changeDate(this, 'week'); return false;"><em>1</em>주일</a></li>
                            <li><a href="#" class="datePick" onclick="changeDate(this, '14days'); return false;"><em>14</em>일</a></li>
                            <li><a href="#" class="datePick" onclick="changeDate(this, 'month'); return false;"><em>1</em>개월</a></li>
                        </ul>


                        <ul class="date_5ea">
                        </ul>
                        <p>
                            <input type="date" name="begin"><span>~</span><input type="date" name="end">
                        </p>
                        <button class="btnConfirm">조회하기</button>
                    </div>
                    <table class="pointList" border="0">
                        <thead>
                        <tr>
                            <th>날짜</th>
                            <th>구분</th>
                            <th>주문번호</th>
                            <th>적립금액</th>
                            <th>비고</th>
                            <th>유효기간</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="point : ${pointPageResponseDTO.dtoList}">
                            <td class="date" th:text="${point.currentDate.toString().substring(0, 10)}"></td>
                            <td th:text="${point.usecase}"></td>
                            <td th:text="${point.ordNo}"></td>
                            <td th:text="${point.point}"></td>
                            <td th:text="${point.descript}"></td>
                            <td th:text="${point.pointDate.toString().substring(0, 10)}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="page" th:if="${pointPageResponseDTO.prev or pointPageResponseDTO.next}">
                        <span th:if="${pointPageResponseDTO.prev}" class="prev">
                            <a th:href="@{/my/point(uid=${#authentication.principal.member.uid}, pg=${pointPageResponseDTO.start - 1})}">이전</a>
                        </span>
                        <span th:each="num: ${#numbers.sequence(pointPageResponseDTO.start, pointPageResponseDTO.end)}">
                            <a th:href="@{/my/point(uid=${#authentication.principal.member.uid}, pg=${num})}"
                                th:class="${pointPageResponseDTO.pg eq num ? 'num on' : 'num'}" th:text="${num}">

                            </a>
                        </span>

                        <span th:if="${pointPageResponseDTO.next}" class="next">
                            <a th:href="@{/my/point(uid=${#authentication.principal.member.uid}, pg=${pointPageResponseDTO.end + 1})}">다음</a>
                        </span>
                    </div>

                    <div class="no-result" th:unless="${pointPageResponseDTO.prev or pointPageResponseDTO.next}" style="text-align: center; margin-top: 20px;">
                        <p>조회된 결과가 없습니다.</p>
                    </div>
                </article>
            </section>
        </div>
    </div>
</main>