<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/wishLayout}">
<!-- 장바구니 페이지 시작 -->

<section class="cart" layout:fragment="content">

    <script>
        window.onload = function () {
            // 숫자를 3자리마다 콤마를 추가하여 문자열로 반환하는 함수
            function numberWithCommas(x) {
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }

            document.querySelectorAll('.price').forEach(priceTd => {
                const price = priceTd.innerText;
                const commasPrice = numberWithCommas(price);
                priceTd.innerText = commasPrice;
            });
        }
    </script>
    <form class="cartForm" action="#">
        <div class="itemController">
            <div class="checkboxController">
                <input id="checkboxController" type="checkbox" class="selectAll">
                <label for="checkboxController" class="cur_hand">전체선택</label>
            </div>
            <div class="deleteBtnGroup">
                <button type="button" class="deleteCartItems">
                    <span>선택삭제</span>
                </button>
            </div>
        </div>

        <div class="tabContentArea"><h3 class="blind">전체</h3>
            <ul class="wishUl">
                <li class="wishLi" th:each="wish : ${pageResponseDTO.dtoList}">
                    <div class="infoProduct">
                        <input type="checkbox" name="wishNo" th:value="${wish.wishNo}">
                        <div data-pd-no="LO2242120513"
                             data-spd-nm="[메이블루] 라이브 방송 단독 혜택" data-price="33600" data-slot="1/2"
                             class="productItem large">
                            <div class="productThumb">
                                <a th:href="@{/product/view(prodNo=${wish.productDTO.prodNo},cate1=${wish.productDTO.cate1},cate2=${wish.productDTO.cate2})}" style="cursor: pointer;">
                                    <img th:src="@{'/prodImg/'+ ${wish.productDTO.thumb1}}" alt="[메이블루] 라이브 방송 단독 혜택 " class="loaded">
                                </a>
                            </div>
                            <div class="productData">
                                <a th:href="@{/product/view(prodNo=${wish.productDTO.prodNo},cate1=${wish.productDTO.cate1},cate2=${wish.productDTO.cate2})}" style="cursor: pointer;">
                                    <p class="productTitle">[[${wish.productDTO.prodName}]]</p>
                                </a>
                                <p class="productPrice">
                                    <span class="productSale">
                                        <span class="blind">할인률</span> [[${wish.productDTO.discount}]] %
                                    </span>
                                    <span class="productPrevPrice">
                                        <span class="del price"><span class="blind"></span> [[${wish.productDTO.price}]] 원</span>
                                    </span>
                                    <span class="productCurrentPrice">
                                        <strong class="price">
                                            <span class="blind price"></span> [[${wish.disPrice}]]</strong>원~
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="infoAction order-2">
                        <button type="button" title="[메이블루] 라이브 방송 단독 혜택 "
                                class="deleteItem"><span class="blind">삭제하기</span></button>
                    </div>
                    <button type="button" title="[메이블루] 라이브 방송 단독 혜택  장바구니 담기"
                            class="cartUnit ico_cart_border" >
                            <span class="icon" >
                                <span class="blind">장바구니</span>
                            </span>
                    </button>
                </li>
            </ul>
        </div>
    </form>
</section>
