<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/memberLayout}">
<main id="member" layout:fragment="content">
            <div class="login">
                <nav>
                    <h1>로그인</h1>                    
                </nav>
                
				<form action="#">

                    <table border="0">
                        <tr>
                            <td>아이디</td>
                            <td><input type="text" name="uid" placeholder="아이디 입력"></td>
                        </tr>
                        <tr>
                            <td>비밀번호</td>
                            <td><input type="password" name="pass" placeholder="비밀번호 입력"></td>
                        </tr>
                    </table>					
					<input type="submit" value="로그인" />
					<span>
                        <label><input type="checkbox" name="auto"/>자동 로그인</label>
						<a th:href="@{/member}">아이디찾기</a>
						<a th:href="@{/member}">비밀번호찾기</a>
						<a th:href="@{/member/join}">회원가입</a>
					</span>

                    <a th:href="@{/member}" class="banner"><img th:src="@{/member/images/member_login_banner.jpg}" alt="1만원 할인 쿠폰 받기"></a>

				</form>
				<img th:src="@{/member/images/member_certifi_logo.gif}" alt="banner">
            </div>
        </main>        
