<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/csLayout}">
<head>
  <style>
    .btnList {
      float: left; /* 왼쪽으로 이동 */
    }

    .btnModify, .btnDelete {
      float: right; /* 오른쪽으로 이동 */
    }

    .btnList, .btnModify, .btnDelete {
      display: inline-block;
      width: 200px;
      height: 60px;
      margin: 40px 10px; /* 좌우 여백을 조정하여 간격을 설정 */
      border: 1px solid #ccc;
      border-radius: 34px;
      font-size: 16px;
      color: #000;
      line-height: 58px;
      text-align: center;
      box-sizing: border-box;
    }
  </style>

</head>

<section id="cs" layout:fragment="content">
  <div class="qna">
    <nav>
      <div>
        <p>홈
          <span>></span>
          <span th:switch="${group}">
                        <span th:case="notice" style="font-size: 16px; color: black;">공지사항</span>
                        <span th:case="qna" style="font-size: 16px; color: black;">고객문의</span>
                        <span th:case="faq" style="font-size: 16px; color: black;">자주묻는질문</span>
                    </span>
        </p>
      </div>
    </nav>
    <section class="view">
      <aside>
        <h2>문의하기</h2>
        <ul>
          <li th:class="${(cate=='member') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='member')}">회원</a></li>
          <li th:class="${(cate=='coupon') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='coupon')}">쿠폰/이벤트</a></li>
          <li th:class="${(cate=='order') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='order')}">주문/결제</a></li>
          <li th:class="${(cate=='delivery') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='delivery')}">배송</a></li>
          <li th:class="${(cate=='refund') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='refund')}">취소/반품/교환</a></li>
          <li th:class="${(cate=='travel') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='travel')}">여행/숙박/항공</a></li>
          <li th:class="${(cate=='safe') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='safe')}">안전거래</a></li>
        </ul>
      </aside>
      <article>

        <nav>
          <h2 class="title">
            [<span style="font-size: 32px; font-weight: bold" th:text="${boardDTO.typeName}"></span>]
            [[${boardDTO.title}]]
          </h2>
          <p>
            <span class="uid" style="font-size: 14px;" th:text="${#strings.length(boardDTO.uid) >= 3 ? #strings.substring(boardDTO.uid, 0, 3) + '***' : #strings.substring(boardDTO.uid, 0, 1)+'*'}"></span>
            <span style="font: normal 14px 'Noto Sans CJK KR'; color: #777;" th:text="${#temporals.format(boardDTO.rdate, 'yyyy.MM.dd')}"></span>
          </p>
        </nav>

        <div class="content">
          <p>
            [[${boardDTO.content}]]
          </p><br>

          <div class="filebox" th:if="${boardDTO.fileDTOList != null and not #lists.isEmpty(boardDTO.fileDTOList)}">
            <p th:each="fileDTO, iterStat : ${boardDTO.fileDTOList}" th:style="'display: inline-block; margin-right: 10px;' + (${iterStat.last} ? 'margin-right: 0;' : '')">
              <img th:src="@{|/uploads/${fileDTO.sfile}|}" alt="상품이미지"/>
            </p>
          </div>
        </div>

<!--
        <section class="commentList">
          <h3>댓글목록</h3>
          <th:block th:each="comment : ${comments}">
            <article>
              <span class="uid" th:text="${comment.uid}"></span>
              <span class="date" th:text="${#strings.substring(comment.rdate, 2, 10)}"></span>
              <p class="content" th:text="${comment.content}"></p>
              <div>
                <th:block th:if="${#authentication.principal != 'anonymousUser'}">
                  <a th:if="${#authentication.principal.member.uid == comment.uid}" href="#" class="remove" th:data-no="${comment.bno}" th:data-parent="${comment.cno}">삭제</a>
                  <a th:if="${#authentication.principal.member.uid == comment.uid}" href="#" class="modify">수정</a>
                </th:block>
              </div>

              <form class="editForm" style="display: none;">
                <input type="hidden" name="no" th:value="${comment.bno}" />
                <input type="hidden" name="writer" th:value="${comment.uid}" />
                <textarea name="content" th:text="${comment.content}"></textarea>
                <div class="button-group">
                  <input type="submit" value="댓글수정" class="submitEdit" >
                  <button type="button" class="cancelEdit">취소</button>
                </div>
              </form>

            </article>

          </th:block>

          <th:block th:if="${#lists.isEmpty(comments)}">
            <p class="empty">등록된 댓글이 없습니다.</p>
          </th:block>
        </section>

        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
          <section class="commentForm">
            <h3>댓글쓰기</h3>
            <form name="commentForm" th:action="@{/cs/qna/insertComment}" method="post"  id="formModify">
              <input type="hidden" name="parent" th:value="${boardDTO.bno}">
              <input type="hidden" name="writer" th:value="${#authentication.principal.member.uid}">
              <textarea name="content" placeholder="댓글 입력"></textarea>
              <div>
                <a th:href="@{#}" class="btn btnCancel">취소</a>
                <input type="submit" name="submit" value="작성완료" id="btnSubmit" class="btn btnComplete"/>
              </div>
            </form>
          </section>
        </th:block>
      </article>
    </section>
  </div>
-->
        <a th:href="@{/cs/qna/list(group='qna', cate=${cate})}" class="btnList">목록보기</a>
        <!-- 로그인한 사용자일 때만 삭제 버튼과 수정 버튼을 표시 -->
        <th:block th:if="${#authentication.principal != 'anonymousUser'}">
          <a th:if="${#authentication.principal.member.uid == boardDTO.uid}"
             th:href="@{/cs/qna/delete(cate=${cate}, bno=${boardDTO.bno}, group=${group})}"
             onclick="return confirm('정말로 삭제하시겠습니까?');"
             class="btnDelete">삭제</a>
          <!-- 수정 버튼 -->
          <a th:if="${#authentication.principal.member.uid == boardDTO.uid}"
             th:href="@{/cs/qna/modify(cate=${cate}, bno=${boardDTO.bno}, group=${group})}" class="btnModify">수정</a>
          <!-- 삭제 버튼 -->
        </th:block>
      </article>
    </section>
  </div>
</section>


</html>

