<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/csLayout}">


<section id="cs" layout:fragment = "content">
        <div class="qna">
          <nav>
            <div>
              <p>홈
                <span>></span>
                <span th:switch="${group}">
                      <span th:case="notice" style="font-size: 16px; color: black;">공지사항</span>
                      <span th:case="qna" style="font-size: 16px; color: black;">고객문의</span>
                      <span th:case="faq" style="font-size: 16px; color: black;">자주묻는질문</span>
                      </span>
              </p>
            </div>
          </nav>
          <section class="write">
            <aside>
              <h2>문의하기</h2>
              <ul>
                <li th:class="${(cate=='member') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='member')}">회원</a></li>
                <li th:class="${(cate=='coupon') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='coupon')}">쿠폰/이벤트</a></li>
                <li th:class="${(cate=='order') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='order')}">주문/결제</a></li>
                <li th:class="${(cate=='delivery') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='delivery')}">배송</a></li>
                <li th:class="${(cate=='refund') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='refund')}">취소/반품/교환</a></li>
                <li th:class="${(cate=='travel') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='travel')}">여행/숙박/항공</a></li>
                <li th:class="${(cate=='safe') ? 'on' : ''}"><a th:href="@{/cs/qna/list(group='qna',cate='safe')}">안전거래</a></li>
              </ul>
            </aside>
            <article>
              <form th:action="@{/cs/qna/write}" method="POST" enctype="multipart/form-data">
                <input type="" name="group" readonly th:value="${group}" />
                <input type="" name="cate" readonly th:value="${cate}" />
                <!--<input type="hidden" name="uid" th:value="${#authentication.principal.member.uid}" /> 나중에 추가하기-->
                <table>
                  <tr>
                    <td>문의유형</td>
                    <td>
                      <select name="typeName" id="typeName" required>
                        <option selected disabled th:value="0">선택</option>
                        <th:block th:each="boardType : ${boardTypes}">
                          <option th:value="${boardType.typeName}" th:text="${boardType.typeName}"></option>
                        </th:block>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>문의제목</td>
                    <td>
                      <input type="text" name="title" placeholder="제목을 입력하세요."/>
                    </td>
                  </tr>
                  <tr>
                    <td>문의내용</td>
                    <td>
                      <textarea name="content" placeholder="내용을 입력하세요."></textarea>
                    </td>
                  </tr>
                </table>
                <div>
                  <a th:href="@{/cs/qna/list(group='qna', cate=${cate})}" class="btnWriteCancel">취소하기</a>
                  <input type="submit" class="btnSubmit" value="등록하기"/>
                </div>
              </form>
            </article>
          </section>
        </div>
</section>
</html>
